body {
    background-image: url('nh.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.header {
    text-align: center;
    margin: 100px 0;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.result-container {
    text-align: center;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.plot-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.contact-image {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-image img {
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-image-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.social-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.social-links a:hover {
    color: #ccc;
}
.about-container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.about-container p, .about-container ul {
    font-size: 16px;
    line-height: 1.6;
}

.about-container ul {
    list-style-type: disc;
    padding-left: 20px;
}

